@model IEnumerable<MyMvcproject.Models.Vegitable>

@{
    ViewBag.Title ="Index";
}

<h2>VegitableView</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VegiName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VegiType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VegiName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VegiType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
          
                     @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
